<div class="mx-auto mt-8 w-8/12">
  <h1>
    Lista Appuntamenti
  </h1>
</div>

<table mat-table [dataSource]="dataToFilter" class="mat-elevation-z8 mx-auto mt-8 w-8/12 min-w-0">
  <ng-container matColumnDef="tipologia">
    <th mat-header-cell *matHeaderCellDef> Tipologia </th>
    <td mat-cell *matCellDef="let element"> {{element.prestazione.tipologia}} </td>
  </ng-container>
  <ng-container matColumnDef="data">
    <th mat-header-cell *matHeaderCellDef> Data <input *ngIf="getUser() != 'paziente'" type="date" #data (change)="filtraData(data.value)"> </th>
    <td mat-cell *matCellDef="let element"> {{element.data}} </td>
  </ng-container>
  <ng-container matColumnDef="orario">
    <th mat-header-cell *matHeaderCellDef> Orario </th>
    <td mat-cell *matCellDef="let element"> {{element.orario}} </td>
  </ng-container>
  <ng-container matColumnDef="medico">
    <th mat-header-cell *matHeaderCellDef> Medico </th>
    <td mat-cell *matCellDef="let element"> {{element.prestazione.medico.nome + " " + element.prestazione.medico.cognome}}</td>
  </ng-container>
  <ng-container matColumnDef="paziente">
    <th mat-header-cell *matHeaderCellDef> Paziente </th>
    <td mat-cell *matCellDef="let element"> {{element.paziente.codiceFiscale}}</td>
  </ng-container>
  <ng-container matColumnDef="stato">
    <th mat-header-cell *matHeaderCellDef> Stato </th>
    <td mat-cell *matCellDef="let element"> {{element.stato}}</td>
  </ng-container>
  <ng-container matColumnDef="effettuato">
    <th mat-header-cell *matHeaderCellDef> Effettuato </th>
    <td mat-cell *matCellDef="let element">
      <button [disabled]="element.stato == 'Effettuato'" mat-raised-button [ngClass]="{'bg-gray-300': element.stato == 'Effettuato', 'bg-[#3695eb]': element.stato == 'Prenotato'}" class=" text-white" (click)="cambiaStato('Effettuato', element.appuntamentoId)">
        Effettuato
      </button>
    </td>
  </ng-container>
  <ng-container matColumnDef="richiesta">
    <th mat-header-cell *matHeaderCellDef> Richiesta </th>
    <td mat-cell *matCellDef="let element">
      <button *ngIf="getUser() == 'paziente' && controllaData(element.data)" mat-raised-button class="bg-[#3695eb] text-white" routerLink="modifica/{{element.appuntamentoId}}" [queryParams]="{ medicoId: element.prestazione.medico.medicoId }">
        Modifica
      </button>
      <button *ngIf="getUser() == 'medico' " mat-raised-button class="bg-[#3695eb] text-white" routerLink="modifica/{{element.appuntamentoId}}" [queryParams]="{ pazienteId: element.paziente.pazienteId }">
        Modifica
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row [ngClass]="{'bg-gray-100': isEven}" *matRowDef="let row; even as isEven; columns: displayedColumns; "></tr>
</table>
