<table mat-table [dataSource]="dataSource" class="mat-elevation-z8 mx-auto mt-8 w-8/12 min-w-0">
  <ng-container matColumnDef="tipologia">
    <th mat-header-cell *matHeaderCellDef> Tipologia </th>
    <td mat-cell *matCellDef="let element"> {{element.prestazione.tipologia}} </td>
  </ng-container>
  <ng-container matColumnDef="data">
    <th mat-header-cell *matHeaderCellDef> Data </th>
    <td mat-cell *matCellDef="let element"> {{element.data}} </td>
  </ng-container>
  <ng-container matColumnDef="orario">
    <th mat-header-cell *matHeaderCellDef> Orario </th>
    <td mat-cell *matCellDef="let element"> {{element.orario}} </td>
  </ng-container>
  <ng-container matColumnDef="medico">
    <th mat-header-cell *matHeaderCellDef> Medico </th>
    <td mat-cell *matCellDef="let element"> {{element.prestazione.medico.nome + " " + element.prestazione.medico.cognome}}</td>
  </ng-container>
  <ng-container matColumnDef="richiesta">
    <th mat-header-cell *matHeaderCellDef> Richiesta </th>
    <td mat-cell *matCellDef="let element"> <button mat-raised-button class="bg-[#3695eb] text-white" routerLink="modifica/{{element.appuntamentoId}}">Modifica</button> </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row [ngClass]="{'bg-gray-100': isEven}" *matRowDef="let row; even as isEven; columns: displayedColumns; "></tr>
</table>
